/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */
.http-get {
  border: 2px solid #A0C9F8;
  border-radius: 10px;
  background-color: #EDF3FA;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  max-width: 900px;
  font-weight: bold;

  span {
    background: #72AFF8;
    color: #FFFFFF;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
    width: 80px;
    text-align: center;
  }
}

.http-post {
  border: 2px solid #96D2AF;
  border-radius: 10px;
  background-color: #EBF5EF;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  max-width: 900px;
  font-weight: bold;

  span {
    background: #70C995;
    color: #FFFFFF;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
    width: 80px;
    text-align: center;
  }
}

.http-put {
  border: 2px solid #F4C38B;
  border-radius: 10px;
  background-color: #F8F2E9;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  max-width: 900px;
  font-weight: bold;

  span {
    background: #F0A44B;
    color: #FFFFFF;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
    width: 80px;
    text-align: center;
  }
}

.http-delete {
  border: 2px solid #E78C87;
  border-radius: 10px;
  background-color: #F8E9E8;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 10px;
  height: 50px;
  width: 100%;
  max-width: 900px;
  font-weight: bold;

  span {
    background: #E64F48;
    color: #FFFFFF;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 10px;
    width: 80px;
    text-align: center;
  }
}

html body hr {
  height: 1px;
  background-color: hsla(210,18%,87%,1);
  border: 0 none;
  opacity:1;
}

.issue{
  font-weight: 400 !important;
  font-size: 13px !important;
}


.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;

  //控制「清單整體」與「項目之間」的間距
  ol {
    margin-top: 0.8em;
    margin-bottom:1.4em;
  }

  //有序清單項目間距
  ol > li {
    margin-bottom: 0.8em;
  }

  //無序清單整體間距
  ul {
    margin-top: 0.2em;
    margin-bottom:1.4em;
  }

  //無序清單項目間距
  ul > li {
  margin-bottom: 0.4em;
  }

  //表格強化

  table {
    width: 100%;
    font-size: 14px;
  }

  thead {
    background: #bdbdbd;
  }

  //程式碼區塊行距與字型
  pre, code {
    font-family: Consolas, "Courier New", monospace;
    font-size: 13px;
  }

}
